/* ##### Core variables and mixins ##### */
/* ##### Variables ##### */
/* ##### Mixins ##### */
/* ##### Button Custom ##### */
/* ##### Animation Delay ##### */
/* ##### General Class ##### */
a.btn.btn-custom,
button.btn.btn-custom {
  background-color: #896738;
  color: #fff;
  border-color: #9b753f;
  text-transform: uppercase;
}
a.btn.btn-custom:hover,
button.btn.btn-custom:hover,
a.btn.btn-custom:focus,
button.btn.btn-custom:focus {
  color: #fff;
  background-color: #775931;
}
/* ##### Navbar ##### */
.navbar.rj-navbar .navbar-toggle {
  background-color: #896738;
}
.navbar.rj-navbar .navbar-nav > li > a:hover {
  color: #896738;
}
.navbar.rj-navbar .navbar-nav > li.active a,
.navbar.rj-navbar .navbar-nav > li.active a:hover {
  background-color: #896738;
}
@media (min-width: 767px) {
  .navbar.rj-navbar .navbar-nav > li.active a,
  .navbar.rj-navbar .navbar-nav > li.active a:hover {
    background-color: #896738;
  }
}
/* ##### Sidebar ##### */
#sidebar-wrapper > .sidebar-nav > li > a:hover {
  background-color: #896738;
}
#sidebar-wrapper > .sidebar-nav > li.sidebar-brand {
  background-color: #896738;
}
/* ##### Quote Section ##### */
#rj-quote > .section-inner > .section-content .quote-text > .quote-icon > i {
  color: #896738;
}
#rj-quote > .section-inner > .section-content .quote-text > h2.quote-by {
  color: #896738;
}
/* ##### Keep In Touch Section ##### */
#rj-keep-in-touch .social-icon-item > a:hover {
  color: #896738;
}
/* ##### Contact Us Section ##### */
#rj-contact-us .form-group input,
#rj-contact-us .form-group textarea {
  border-left-color: #896738;
}
#rj-contact-us .form-group span {
  background-color: #896738;
  border-color: #896738;
}
#rj-contact-us .social-icon-text > h2 {
  background-color: #896738;
  border: 1px solid #654c29;
}
/* ##### Features ##### */
/* ##### Accordion ##### */
.accordion .panel-group > .panel {
  border-color: #ad8247;
}
.accordion .panel-group > .panel > .panel-heading {
  background-color: #896738;
  border-color: #896738;
}
.accordion .panel-group > .panel > .panel-collapse > .panel-body {
  border-color: #ad8247;
}
/* ##### Charts ##### */
.chart-item .chart-text > h4 {
  color: #896738;
}
/* ##### Content Boxes ##### */
.content-box > .content-box-icon > i {
  color: #896738;
}
.content-box.style-two > .content-box-icon > i {
  background-color: #896738;
}
.content-box.style-three > .content-box-icon > i {
  background-color: #896738;
}
/* ##### Countdown ##### */
.cd-content .cd-element {
  border-bottom: 1px solid #896738;
}
.cd-content .cd-element > .cd-value {
  color: #896738;
}
/* ##### Counters ##### */
.counter-item > i {
  color: #896738;
}
.counter-item > p {
  color: #896738;
}
.counter-item.bubble .inner-content {
  background-color: #896738;
}
.counter-item.bubble .inner-content:before {
  border-top-color: #896738;
}
.counter-item.bubble > p {
  border-bottom: 1px solid #896738;
}
/* ##### Error 404 Page ##### */
.error404-text > h1 {
  color: #896738;
}
/* ##### Fancy Table ##### */
.table.table-custom {
  border-bottom: 2px solid #896738;
}
.table.table-custom > thead {
  background-color: #1ab394;
}
/* ##### Custom Font Awesome Icons ##### */
.fa.icon-custom {
  color: #896738;
  border: 1px solid #896738;
}
.fa.icon-custom-inverse {
  background-color: #896738;
}
/* ##### Funny Boxes ##### */
.funny-box:hover > .funny-box-icon {
  background-color: #896738;
}
.funny-box > .funny-box-icon {
  border: 1px solid #896738;
  color: #896738;
}
.funny-box > .funny-box-text > h4:after {
  background-color: #896738;
}
.funny-box.not-right-column {
  padding-bottom: 40px;
}
@media (min-width: 767px) {
  .funny-box.not-right-column {
    padding-bottom: 0px;
  }
}
@media (min-width: 1023px) {
  .funny-box.not-right-column:before {
    background: -moz-linear-gradient(top, rgba(137, 103, 56, 0) 0%, rgba(137, 103, 56, 0.9) 15%, rgba(137, 103, 56, 0.9) 85%, rgba(137, 103, 56, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(137, 103, 56, 0)), color-stop(15%, rgba(137, 103, 56, 0.9)), color-stop(85%, #dddddd), color-stop(100%, rgba(137, 103, 56, 0)));
    background: -webkit-linear-gradient(top, rgba(137, 103, 56, 0) 0%, rgba(137, 103, 56, 0.9) 15%, rgba(137, 103, 56, 0.9) 85%, rgba(137, 103, 56, 0) 100%);
    background: -o-linear-gradient(top, rgba(137, 103, 56, 0) 0%, rgba(137, 103, 56, 0.9) 15%, rgba(137, 103, 56, 0.9) 85%, rgba(137, 103, 56, 0) 100%);
    background: -ms-linear-gradient(top, rgba(137, 103, 56, 0) 0%, rgba(137, 103, 56, 0.9) 15%, rgba(137, 103, 56, 0.9) 85%, rgba(137, 103, 56, 0) 100%);
    background: linear-gradient(to bottom, rgba(137, 103, 56, 0) 0%, rgba(137, 103, 56, 0.9) 15%, rgba(137, 103, 56, 0.9) 85%, rgba(137, 103, 56, 0) 100%);
  }
}
.funny-box.outline-inward > .funny-box-icon:before {
  border: #896738 solid 4px;
}
/* ##### Funny Boxes Outline Outward Effect ##### */
.funny-box.outline-outward > .funny-box-icon:before {
  border: #896738 solid 4px;
}
/* ##### Pricing Tables ##### */
.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
  background-color: #896738;
}
.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
  border-bottom: 3px solid #896738;
}
.pricing-table.style-four .pricing-wrapper.features > .pricing-column > .item-list {
  border-top: 3px solid #896738;
}
.pricing-table.style-five .pricing-wrapper > .pricing-column {
  border-top: 6px solid #896738;
}
.pricing-table.style-five .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #896738;
  border-right: 1px solid #826235;
  border-bottom: 1px solid #826235;
  border-left: 1px solid #826235;
}
.pricing-table.style-six .pricing-wrapper > .pricing-column {
  border-top: 6px solid #896738;
}
.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #896738;
  border-right: 1px solid #826235;
  border-bottom: 1px solid #826235;
  border-left: 1px solid #826235;
}
/* ##### Tabular Content ##### */
.tabular-content > ul.nav-tabs > li.active > a {
  border-top: 5px solid #896738;
}
/* ##### Testimonials ##### */
.testimonial-item > .testimonial-content {
  background: #896738;
}
.testimonial-item > .testimonial-content:after {
  border-top-color: #896738;
}
/* ##### Timeline ##### */
@media (min-width: 767px) {
  .timeline > li > .timeline-panel:after {
    border-right: 0 solid #896738;
    border-left: 14px solid #896738;
  }
}
.timeline > li > .timeline-panel > .timeline-heading > .timeline-title {
  background: #896738;
}
