/* ##### Yellow ##### */

/* ##### General Class ##### */

a.btn.btn-custom,
button.btn.btn-custom {
  background-color: #f89d29;
  color: #fff;
  border-color: #f9a842;
  text-transform: uppercase;
}

a.btn.btn-custom:hover,
button.btn.btn-custom:hover,
a.btn.btn-custom:focus,
button.btn.btn-custom:focus {
  color: #fff;
  background-color: #f79210;
}


/* ##### Navbar ##### */

.navbar.rj-navbar .navbar-toggle {
  background-color: #f89d29;
}

.navbar.rj-navbar .navbar-nav > li > a:hover {
  color: #f89d29;
}

.navbar.rj-navbar .navbar-nav > li.active a,
.navbar.rj-navbar .navbar-nav > li.active a:hover {
  background-color: #f89d29;
}

@media (min-width: 767px) {
  .navbar.rj-navbar .navbar-nav > li.active a,
  .navbar.rj-navbar .navbar-nav > li.active a:hover {
    background-color: #f89d29;
  }
}


/* ##### Sidebar ##### */

#sidebar-wrapper > .sidebar-nav > li > a:hover {
  background-color: #f89d29;
}

#sidebar-wrapper > .sidebar-nav > li.sidebar-brand {
  background-color: #f89d29;
}


/* ##### Quote Section ##### */

#rj-quote > .section-inner > .section-content .quote-text > .quote-icon > i {
  color: #f89d29;
}

#rj-quote > .section-inner > .section-content .quote-text > h2.quote-by {
  color: #f89d29;
}


/* ##### Keep In Touch Section ##### */

#rj-keep-in-touch .social-icon-item > a:hover {
  color: #f89d29;
}


/* ##### Contact Us Section ##### */

#rj-contact-us .content-message {
  background-color: #f89d29;
}

#rj-contact-us .form-group input,
#rj-contact-us .form-group textarea {
  border-left-color: #f89d29;
}

#rj-contact-us .form-group span {
  background-color: #f89d29;
  border-color: #f89d29;
}

#rj-contact-us .social-icon-text > h2 {
  background-color: #f89d29;
  border: 1px solid #e68408;
}


/* ##### Features ##### */

/* ##### Accordion ##### */

.accordion .panel-group > .panel {
  border-color: #fab45a;
}

.accordion .panel-group > .panel > .panel-heading {
  background-color: #f89d29;
  border-color: #f89d29;
}

.accordion .panel-group > .panel > .panel-collapse > .panel-body {
  border-color: #fab45a;
}


/* ##### Charts ##### */

.chart-item .chart-text > h4 {
  color: #f89d29;
}


/* ##### Content Boxes ##### */

.content-box > .content-box-icon > i {
  color: #f89d29;
}

.content-box.style-two > .content-box-icon > i {
  background-color: #f89d29;
}

.content-box.style-three > .content-box-icon > i {
  background-color: #f89d29;
}


/* ##### Countdown ##### */

.cd-content .cd-element {
  border-bottom: 1px solid #f89d29;
}

.cd-content .cd-element > .cd-value {
  color: #f89d29;
}


/* ##### Counters ##### */

.counter-item > i {
  color: #f89d29;
}

.counter-item > p {
  color: #f89d29;
}

.counter-item.bubble .inner-content {
  background-color: #f89d29;
}

.counter-item.bubble .inner-content:before {
  border-top-color: #f89d29;
}

.counter-item.bubble > p {
  border-bottom: 1px solid #f89d29;
}


/* ##### Error 404 Page ##### */

.error404-text > h1 {
  color: #f89d29;
}


/* ##### Fancy Table ##### */

.table.table-custom {
  border-bottom: 2px solid #f89d29;
}

.table.table-custom > thead {
  background-color: #1ab394;
}


/* ##### Custom Font Awesome Icons ##### */

.fa.icon-custom {
  color: #f89d29;
  border: 1px solid #f89d29;
}

.fa.icon-custom-inverse {
  background-color: #f89d29;
}


/* ##### Funny Boxes ##### */

.funny-box:hover > .funny-box-icon {
  background-color: #f89d29;
}

.funny-box > .funny-box-icon {
  border: 1px solid #f89d29;
  color: #f89d29;
}

.funny-box > .funny-box-text > h4:after {
  background-color: #f89d29;
}

.funny-box.not-right-column {
  padding-bottom: 40px;
}

@media (min-width: 767px) {
  .funny-box.not-right-column {
    padding-bottom: 0px;
  }
}

@media (min-width: 1023px) {
  .funny-box.not-right-column:before {
    background: -moz-linear-gradient(top, rgba(248, 157, 41, 0) 0%, rgba(248, 157, 41, 0.9) 15%, rgba(248, 157, 41, 0.9) 85%, rgba(248, 157, 41, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(248, 157, 41, 0)), color-stop(15%, rgba(248, 157, 41, 0.9)), color-stop(85%, #dddddd), color-stop(100%, rgba(248, 157, 41, 0)));
    background: -webkit-linear-gradient(top, rgba(248, 157, 41, 0) 0%, rgba(248, 157, 41, 0.9) 15%, rgba(248, 157, 41, 0.9) 85%, rgba(248, 157, 41, 0) 100%);
    background: -o-linear-gradient(top, rgba(248, 157, 41, 0) 0%, rgba(248, 157, 41, 0.9) 15%, rgba(248, 157, 41, 0.9) 85%, rgba(248, 157, 41, 0) 100%);
    background: -ms-linear-gradient(top, rgba(248, 157, 41, 0) 0%, rgba(248, 157, 41, 0.9) 15%, rgba(248, 157, 41, 0.9) 85%, rgba(248, 157, 41, 0) 100%);
    background: linear-gradient(to bottom, rgba(248, 157, 41, 0) 0%, rgba(248, 157, 41, 0.9) 15%, rgba(248, 157, 41, 0.9) 85%, rgba(248, 157, 41, 0) 100%);
  }
}

.funny-box.outline-inward > .funny-box-icon:before {
  border: #f89d29 solid 4px;
}


/* ##### Funny Boxes Outline Outward Effect ##### */

.funny-box.outline-outward > .funny-box-icon:before {
  border: #f89d29 solid 4px;
}


/* ##### Pricing Tables ##### */

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > h2 {
  background-color: #f89d29;
}

.pricing-table .pricing-wrapper > .pricing-column > .plan-title > .pricing-box {
  border-bottom: 3px solid #f89d29;
}

.pricing-table.style-four .pricing-wrapper.features > .pricing-column > .item-list {
  border-top: 3px solid #f89d29;
}

.pricing-table.style-five .pricing-wrapper > .pricing-column {
  border-top: 6px solid #f89d29;
}

.pricing-table.style-five .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #f89d29;
  border-right: 1px solid #f8981f;
  border-bottom: 1px solid #f8981f;
  border-left: 1px solid #f8981f;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column {
  border-top: 6px solid #f89d29;
}

.pricing-table.style-six .pricing-wrapper > .pricing-column > .plan-footer {
  background-color: #f89d29;
  border-right: 1px solid #f8981f;
  border-bottom: 1px solid #f8981f;
  border-left: 1px solid #f8981f;
}


/* ##### Tabular Content ##### */

.tabular-content > ul.nav-tabs > li.active > a {
  border-top: 5px solid #f89d29;
}


/* ##### Testimonials ##### */

.testimonial-item > .testimonial-content {
  background: #f89d29;
}

.testimonial-item > .testimonial-content:after {
  border-top-color: #f89d29;
}


/* ##### Timeline ##### */

@media (min-width: 767px) {
  .timeline > li > .timeline-panel:after {
    border-right: 0 solid #f89d29;
    border-left: 14px solid #f89d29;
  }
}

.timeline > li > .timeline-panel > .timeline-heading > .timeline-title {
  background: #f89d29;
}