/* ##### Core variables and mixins ##### */

@import "variables";
@import "mixins";


/* ##### Global Components ##### */

*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: @body-bg;
    font-family: @font-family-base;
    color: @text-color;
    overflow-x: hidden;
}

a {
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &:hover, 
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 15px;
}


/* ##### General Class ##### */

a.btn.btn-custom, 
button.btn.btn-custom {
    .btn-custom(@base-color);
}

.delay-priorities(5);

.section {
    background-color: #f2f4f4;

    > .section-inner {
        position: relative;

        > .section-content {
            padding-top: 50px;
            padding-bottom: 60px;

            @media(min-width:1023px) {
                padding-top: 60px;
                padding-bottom: 80px;
            }

            .section-title {
                color: #222;
                text-transform: uppercase;
                padding-bottom: 40px;

                @media(min-width:1023px) {
                    padding-bottom: 60px;
                }

                > .main-title {
                    font-size: 35px;
                    font-weight: 300;

                    @media(min-width:479px) {
                        font-size: 45px;
                    }
                    @media(min-width:599px) {
                        font-size: 55px;
                    }
                    @media(min-width:767px) {
                        font-size: 60px;
                    }
                }

                > .sub-title {
                    font-size: 20px;
                    font-weight: 300;

                    @media(min-width:479px) {
                        font-size: 25px;
                    }
                }
            }

            .section-line {
                display: inline-block;
                width: 50px;
                height: 1px;
                background-color: #222;
            }
        }
    }
}

.section.section-bgtype-image {
    background-color: #222;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    > .section-inner {
        > .bg-overlay {
            content: '';
            position: absolute;
            background-color: #000;
            left: 0px;
            right: 0px;
            bottom: 0px;
            top: 0px;
            zoom: 1;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
        }

        > .section-content {
            .section-title {
                color: #b7ada4;

                > .section-line {
                    background-color: #b7ada4;
                }
            }
        }
    }
}


/* ##### Page Loader ##### */

#rj-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;

    .preload {
        width: 128px;
        height: 128px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -64px;
        margin-left: -64px
    }
}


/* ##### Navbar ##### */

.navbar.rj-navbar {
    position: relative;
    margin: 0;
    border: 0;
    min-height: 60px;
    background-color: #222;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
    
    @media(min-width:767px) {
        -webkit-transition: background .2s ease-in-out,padding .3s ease-in-out;
        -moz-transition: background .2s ease-in-out,padding .3s ease-in-out;
        transition: background .2s ease-in-out,padding .3s ease-in-out;
    }

    .navbar-brand {
        color: #fff;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
        height: 60px;
        line-height: 60px;
        padding-top: 0px;
        padding-bottom: 0px;
        letter-spacing: 0.1em;

        &:hover {
            color: #fff;
        }
    }
    
    .navbar-toggle {        
        margin-top: 12px;
        background-color: @base-color;
    }

    .navbar-nav {
        > li {
            > a {
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;

                @media(min-width:767px) {
                    height: 60px;
                    line-height: 60px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                &:hover {
                    color: @base-color;
                    background-color: #222;
                }
                
                > i.fa-angle-down {
                    padding-left: 2px;
                }
            }
        }

        > li.active {
            a, a:hover {
                background-color: @base-color;
                color: #fff;

                @media(min-width:767px) {
                    color: #fff;
                    background-color: @base-color;
                    background-repeat: repeat;
                }
            }
        }
    }
}


/* ##### Sidebar ##### */

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #222;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 2000;
    opacity: 0.98;
    filter: alpha(opacity=98);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=98)";
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;

    > .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            height: 35px;
            line-height: 35px;
            text-indent: 20px;

            > a {
                display: block;
                color: #f5f5f5;
                font-weight: 300;
                text-decoration: none;
                text-transform: uppercase;
                border-bottom: 1px solid lighten(#222, 8%);

                &:hover {
                    color: #f5f5f5;
                    background-color: @base-color;
                    text-decoration: none;
                }

                &:active,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        > li.sidebar-brand {
            background-color: @base-color;
            color: #fff;
            font-size: 16px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            height: 60px;
            line-height: 60px;
            border-bottom: 1px solid lighten(#222, 8%);
        }

        > li.toogle-wrapper {
            position: absolute;
            line-height: 0px;
            text-indent: 0px;
            top: 13px;
            right: 8px;

            > a {
                border: none;
            }
        }
    }
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}


/* ##### Intro Section ##### */

#rj-intro {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    color: #fff;
    background: rgba(0,0,0,0.8);
    
    @media(min-width:1279px) {
        height: 100%;
        padding: 0px;
    }

    .intro-body {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        padding-top: 70px;
        padding-bottom: 70px;
        
        @media(min-width:1279px) {
            padding-top: 0px;
            padding-bottom: 30px;
        }

        .logo {
            > h1 {
                display: block;
                width: 120px;
                height: 120px;
                line-height: 120px;
                color: rgba(255, 255, 255, 0.8);
                font-family: 'Raleway', sans-serif;
                font-size: 100px;
                font-weight: 700;
                text-align: center;
                border: 2px solid rgba(255, 255, 255, 0.8);
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                margin: auto;
            }
        }
        
        .intro-text {
            margin-top: 40px;
            font-family: 'Raleway', sans-serif;
            
            @media(min-width:767px) {
                margin-top: 70px;
            }
            
            h2 {
                color: #fff;    
                font-size: 50px;
                font-weight: 700;
                
                @media(min-width:767px) {
                    font-size: 55px;
                }
            }
            
            p.lead {
                color: #fff;    
                font-size: 22px;
                font-weight: 400;
                
                @media(min-width:767px) {
                    font-size: 26px;
                }
            }
        }

        .page-scroll {
            margin-top: 30px;
            
            @media(min-width:767px) {
                margin-top: 50px;
            }
            
            a.btn {
                font-family: 'Raleway', sans-serif;
                
                @media(min-width:767px) {
                    padding: 20px 25px;
                    font-size: 22px;
                }
            }
        }
    }
}


/* ##### Who We Are Section ##### */

#rj-who-we-are {
    .carousel-container {
        padding-bottom: 40px;

        @media(min-width:1023px) {
            padding-bottom: 0px;
        }
    }

    .who-we-are-text {
        text-align: center;

        @media(min-width:1023px) {
            text-align: left;
        }

        > h4 {
            font-size: 25px;
            text-transform: uppercase;
        }

        > p {
            font-size: 18px;
        }

        > .page-scroll {
            padding-top: 10px;
        }
    }
}


/* ##### Counters Section ##### */

#rj-counters {
    background-image: url("../img/bg-counters.jpg");
    background-position: bottom center;
}


/* ##### Charts Section ##### */

#rj-charts {
    background-image: url("../img/bg-charts.jpg");   
}


/* ##### Quote Section ##### */

#rj-quote {
    background-image: url("../img/bg-quote.jpg");

    > .section-inner {
        > .section-content {
            padding-top: 100px;
            padding-bottom: 80px;
            color: #b7ada4;

            .quote-text {
                > .quote-icon {
                    > i {
                        color: @base-color;
                        padding-bottom: 20px;
                    }
                }

                > h2 {
                    font-size: 40px;
                }

                > h2.quote-by {
                    color: @base-color;
                }
            }
        }
    }
}


/* ##### Keep In Touch Section ##### */

#rj-keep-in-touch {
    background-image: url("../img/bg-keep-in-touch.jpg");

    .social-icon-item {
        .social-icon {
            > i {
                color: #b7ada4;
                margin-bottom: 20px;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
        }

        > a {
            color: #b7ada4;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            
            &:hover {
                color: @base-color;
                cursor: pointer;
            }
        }
    }

    .social-icon-item.not-right-column.top-column {
        margin-bottom: 50px;

        @media(min-width:1023px) {
            margin-bottom: 0px;
        }
    }

    .social-icon-item.not-right-column {
        margin-bottom: 50px;

        @media(min-width:767px) {
            margin-bottom: 0px;
        }
    }
}


/* ##### Testimonials Section ##### */

#rj-testimonial {
    background-image: url("../img/bg-testimonials.jpg");
}


/* ##### Countdown Section ##### */

#rj-countdown {
    background-image: url("../img/bg-countdown.jpg");

    .countdown-form {
        margin-top: 60px;

        @media(min-width:359px) {
            margin-top: 70px;
        }

        form {
            > .input-group {
                > span.input-group-btn {
                    > .btn {
                        padding-top: 11px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .countdown-text {
        margin-top: 50px;

        > p {
            color: #b7ada4;
        }
    }
}


/* ##### Contact Us Section ##### */

#rj-contact-us {
    background-image: url("../img/bg-contact-us.jpg");
    background-position: bottom center;

    .content-message {
        color: #fff;
        background-color: @base-color;
        margin-bottom: 50px;
        padding: 30px;
    }
    
    .form-group {
        .input-group {
            width: 100%;
        }
        
        label {
            color: #b7ada4;
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.05em;
        }
        
        label.error {
            position: absolute;
            top: -26px;
            right: 0;
            font-size: 13px;
            font-weight: 700;
            text-transform: none;
        }

        input, 
        textarea {
            color: #222;
            font-weight: 300;
            letter-spacing: 0.1em;
            border-radius: 0px; 
            border-left-color: @base-color;
        }

        textarea {
            height: 137px;
        }

        button {
            width: 100%;
            margin-top: 30px;
            border-radius: 0px; 
        }

        span {
            color: #fff;
            background-color: @base-color;
            border-radius: 0px;
            border-color: @base-color;

            > i {
                width: 20px;
            }
        }
    }

    .social-icon-text {
        > h2 {
            display: inline-block;
            color: #fff;
            font-size: 40px;
            font-weight: 300;
            text-transform: uppercase;
            background-color: @base-color;
            width: 100px;
            height: 100px;
            line-height: 100px;
            border-radius: 50%;
            border: 1px solid darken(@base-color, 10%);
            margin-top: 50px;
        }

        > h4 {    
            color: #b7ada4;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            margin-top: 30px;
        }

        > ul.social-icon-list {
            margin-top: 20px;

            > li {
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    color: #c9c9c9;
                    font-size: 16px;
                    text-align: center;
                    border: 1px solid #c9c9c9;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;

                    &:hover {
                        border-color: lighten(#c9c9c9, 50%);
                    }
                }
            }
        }
    }
}


/* ##### Footer ##### */

footer.footer {
    background-color: #1c1c1c;
    border-top: 1px solid lighten(#1c1c1c, 10%);
    color: #888;

    a {
        color: #c9c9c9;

        &:hover {
             color: lighten(#c9c9c9, 50%);
        }
    }

    #rj-footer {
        background-color: #1c1c1c;
        padding-top: 50px;
        padding-bottom: 20px;

        .footer-column.not-right-column {
            margin-bottom: 50px;

            @media(min-width:767px) {
                margin-bottom: 0px;
            }
        }

        .footer-column {
            .footer-text {
                text-align: center;

                @media(min-width:767px) {
                    text-align: left;
                }
            }
        }

        h4 {
            color: #c9c9c9;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 0.2em;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }

        ul.icon-list {
            > li {
                padding-bottom: 10px;

                > i {
                    padding-right: 10px;
                }
            }
        }

        ul.social-icon-list {
            > li {
                padding-bottom: 10px;
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    font-size: 16px;
                    text-align: center;
                    border: 1px solid #c9c9c9;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -ms-border-radius: 50%;
                    border-radius: 50%;

                    &:hover {
                        border-color: lighten(#c9c9c9, 50%);
                    }
                }
            }
        }

        .newsletter-form {
            input {
                background-color: transparent;
                border-color: #888;
            }
        }
    }

    #rj-copyright {
        background-color: #161616;
        padding: 15px 0px;
        border-top: 1px solid rgba(114, 114, 114,0.25);

        p {
            font-size: 13px;
            text-align: center;
            margin: 0px;

            @media(min-width:767px) {
                text-align: left;
            }
        }
    }
}