*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f2f4f4;
  font-family: 'Lato', sans-serif;
  color: #222222;
  overflow-x: hidden;
}

a {
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 15px;
}


/* ##### General Class ##### */

a.btn.btn-custom,
button.btn.btn-custom {
  background-color: #3996cc;
  color: #fff;
  border-color: #4da1d1;
  text-transform: uppercase;
}

a.btn.btn-custom:hover,
button.btn.btn-custom:hover,
a.btn.btn-custom:focus,
button.btn.btn-custom:focus {
  color: #fff;
  background-color: #3088bb;
}

.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}

.delayp2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}

.delayp3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}

.delayp4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}

.delayp5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}

.section {
  background-color: #f2f4f4;
}

.section > .section-inner {
  position: relative;
}

.section > .section-inner > .section-content {
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 1023px) {
  .section > .section-inner > .section-content {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.section > .section-inner > .section-content .section-title {
  color: #222;
  text-transform: uppercase;
  padding-bottom: 40px;
}

@media (min-width: 1023px) {
  .section > .section-inner > .section-content .section-title {
    padding-bottom: 60px;
  }
}

.section > .section-inner > .section-content .section-title > .main-title {
  font-size: 35px;
  font-weight: 300;
}

@media (min-width: 479px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 45px;
  }
}

@media (min-width: 599px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 55px;
  }
}

@media (min-width: 767px) {
  .section > .section-inner > .section-content .section-title > .main-title {
    font-size: 60px;
  }
}

.section > .section-inner > .section-content .section-title > .sub-title {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 479px) {
  .section > .section-inner > .section-content .section-title > .sub-title {
    font-size: 25px;
  }
}

.section > .section-inner > .section-content .section-line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #222;
}

.section.section-bgtype-image {
  background-color: #222;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.section.section-bgtype-image > .section-inner > .bg-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}

.section.section-bgtype-image > .section-inner > .section-content .section-title {
  color: #b7ada4;
}

.section.section-bgtype-image > .section-inner > .section-content .section-title > .section-line {
  background-color: #b7ada4;
}


/* ##### Page Loader ##### */

#rj-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}

#rj-loader .preload {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
}


/* ##### Navbar ##### */

.navbar.rj-navbar {
  position: relative;
  margin: 0;
  border: 0;
  min-height: 60px;
  background-color: #222;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
}

@media (min-width: 767px) {
  .navbar.rj-navbar {
    -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
  }
}

.navbar.rj-navbar .navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.1em;
}

.navbar.rj-navbar .navbar-brand:hover {
  color: #fff;
}

.navbar.rj-navbar .navbar-toggle {
  margin-top: 12px;
  background-color: #3996cc;
}

.navbar.rj-navbar .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 767px) {
  .navbar.rj-navbar .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.navbar.rj-navbar .navbar-nav > li > a:hover {
  color: #3996cc;
  background-color: #222;
}

.navbar.rj-navbar .navbar-nav > li > a > i.fa-angle-down {
  padding-left: 2px;
}

.navbar.rj-navbar .navbar-nav > li.active a,
.navbar.rj-navbar .navbar-nav > li.active a:hover {
  background-color: #3996cc;
  color: #fff;
}

@media (min-width: 767px) {
  .navbar.rj-navbar .navbar-nav > li.active a,
  .navbar.rj-navbar .navbar-nav > li.active a:hover {
    color: #fff;
    background-color: #3996cc;
    background-repeat: repeat;
  }
}


/* ##### Sidebar ##### */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #222;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 2000;
  opacity: 0.98;
  filter: alpha(opacity=98);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=98)";
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

#sidebar-wrapper > .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar-wrapper > .sidebar-nav > li {
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
}

#sidebar-wrapper > .sidebar-nav > li > a {
  display: block;
  color: #f5f5f5;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li > a:hover {
  color: #f5f5f5;
  background-color: #3996cc;
  text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li > a:active,
#sidebar-wrapper > .sidebar-nav > li > a:focus {
  text-decoration: none;
}

#sidebar-wrapper > .sidebar-nav > li.sidebar-brand {
  background-color: #3996cc;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #363636;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper {
  position: absolute;
  line-height: 0px;
  text-indent: 0px;
  top: 13px;
  right: 8px;
}

#sidebar-wrapper > .sidebar-nav > li.toogle-wrapper > a {
  border: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}


/* ##### Intro Section ##### */

#rj-intro {
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  color: #fff;
  background-image: url("../img/rj-intro/bg-intro-1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#rj-intro:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1279px) {
  #rj-intro {
    height: 100%;
    padding: 0px;
  }
}

#rj-intro .intro-body {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 1279px) {
  #rj-intro .intro-body {
    padding-top: 0px;
    padding-bottom: 30px;
  }
}

#rj-intro .intro-body .logo > h1 {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: auto;
}

#rj-intro .intro-body .intro-text {
  margin-top: 40px;
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 767px) {
  #rj-intro .intro-body .intro-text {
    margin-top: 70px;
  }
}

#rj-intro .intro-body .intro-text h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}

@media (min-width: 767px) {
  #rj-intro .intro-body .intro-text h2 {
    font-size: 55px;
  }
}

#rj-intro .intro-body .intro-text p.lead {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

@media (min-width: 767px) {
  #rj-intro .intro-body .intro-text p.lead {
    font-size: 26px;
  }
}

#rj-intro .intro-body .page-scroll {
  margin-top: 30px;
}

@media (min-width: 767px) {
  #rj-intro .intro-body .page-scroll {
    margin-top: 50px;
  }
}

#rj-intro .intro-body .page-scroll a.btn {
  font-family: 'Raleway', sans-serif;

}
@media (min-width: 767px) {
  #rj-intro .intro-body .page-scroll a.btn {
    padding: 20px 25px;
    font-size: 22px;
  }
}


/* ##### Who We Are Section ##### */

#rj-who-we-are .carousel-container {
  padding-bottom: 40px;
}

@media (min-width: 1023px) {
  #rj-who-we-are .carousel-container {
    padding-bottom: 0px;
  }
}

#rj-who-we-are .who-we-are-text {
  text-align: center;
}

@media (min-width: 1023px) {
  #rj-who-we-are .who-we-are-text {
    text-align: left;
  }
}

#rj-who-we-are .who-we-are-text > h4 {
  font-size: 25px;
  text-transform: uppercase;
}

#rj-who-we-are .who-we-are-text > p {
  font-size: 18px;
}

#rj-who-we-are .who-we-are-text > .page-scroll {
  padding-top: 10px;
}


/* ##### Counters Section ##### */

#rj-counters {
  background-image: url("../img/bg-counters.jpg");
  background-position: bottom center;
}


/* ##### Charts Section ##### */

#rj-charts {
  background-image: url("../img/bg-charts.jpg");
}


/* ##### Quote Section ##### */

#rj-quote {
  background-image: url("../img/bg-quote.jpg");
}

#rj-quote > .section-inner > .section-content {
  padding-top: 100px;
  padding-bottom: 80px;
  color: #b7ada4;
}

#rj-quote > .section-inner > .section-content .quote-text > .quote-icon > i {
  color: #3996cc;
  padding-bottom: 20px;
}

#rj-quote > .section-inner > .section-content .quote-text > h2 {
  font-size: 40px;
}

#rj-quote > .section-inner > .section-content .quote-text > h2.quote-by {
  color: #3996cc;
}


/* ##### Keep In Touch Section ##### */

#rj-keep-in-touch {
  background-image: url("../img/bg-keep-in-touch.jpg");
}

#rj-keep-in-touch .social-icon-item .social-icon > i {
  color: #b7ada4;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#rj-keep-in-touch .social-icon-item > a {
  color: #b7ada4;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#rj-keep-in-touch .social-icon-item > a:hover {
  color: #3996cc;
  cursor: pointer;
}

#rj-keep-in-touch .social-icon-item.not-right-column.top-column {
  margin-bottom: 50px;
}

@media (min-width: 1023px) {
  #rj-keep-in-touch .social-icon-item.not-right-column.top-column {
    margin-bottom: 0px;
  }
}

#rj-keep-in-touch .social-icon-item.not-right-column {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  #rj-keep-in-touch .social-icon-item.not-right-column {
    margin-bottom: 0px;
  }
}


/* ##### Testimonials Section ##### */

#rj-testimonial {
  background-image: url("../img/bg-testimonials.jpg");
}


/* ##### Countdown Section ##### */

#rj-countdown {
  background-image: url("../img/bg-countdown.jpg");
}

#rj-countdown .countdown-form {
  margin-top: 60px;
}

@media (min-width: 359px) {
  #rj-countdown .countdown-form {
    margin-top: 70px;
  }
}

#rj-countdown .countdown-form form > .input-group > span.input-group-btn > .btn {
  padding-top: 11px;
  padding-bottom: 10px;
}

#rj-countdown .countdown-text {
  margin-top: 50px;
}

#rj-countdown .countdown-text > p {
  color: #b7ada4;
}


/* ##### Contact Us Section ##### */

#rj-contact-us {
  background-image: url("../img/bg-contact-us.jpg");
  background-position: bottom center;
}

#rj-contact-us .content-message {
  color: #fff;
  background-color: #3996cc;
  margin-bottom: 50px;
  padding: 30px;
}

#rj-contact-us .form-group .input-group {
  width: 100%;
}

#rj-contact-us .form-group label {
  color: #b7ada4;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

#rj-contact-us .form-group label.error {
  position: absolute;
  top: -26px;
  right: 0;
  font-size: 13px;
  font-weight: 700;
  text-transform: none;
}

#rj-contact-us .form-group input,
#rj-contact-us .form-group textarea {
  color: #222;
  font-weight: 300;
  letter-spacing: 0.1em;
  border-radius: 0px;
  border-left-color: #3996cc;
}

#rj-contact-us .form-group textarea {
  height: 137px;
}

#rj-contact-us .form-group button {
  width: 100%;
  margin-top: 30px;
  border-radius: 0px;
}

#rj-contact-us .form-group span {
  color: #fff;
  background-color: #3996cc;
  border-radius: 0px;
  border-color: #3996cc;
}

#rj-contact-us .form-group span > i {
  width: 20px;
}

#rj-contact-us .social-icon-text > h2 {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #3996cc;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  border: 1px solid #2b79a7;
  margin-top: 50px;
}

#rj-contact-us .social-icon-text > h4 {
  color: #b7ada4;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 30px;
}

#rj-contact-us .social-icon-text > ul.social-icon-list {
  margin-top: 20px;
}

#rj-contact-us .social-icon-text > ul.social-icon-list > li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #c9c9c9;
  font-size: 16px;
  text-align: center;
  border: 1px solid #c9c9c9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#rj-contact-us .social-icon-text > ul.social-icon-list > li a:hover {
  border-color: #ffffff;
}


/* ##### Footer ##### */

footer.footer {
  background-color: #1c1c1c;
  border-top: 1px solid #363636;
  color: #888;
}

footer.footer a {
  color: #c9c9c9;
}

footer.footer a:hover {
  color: #ffffff;
}

footer.footer #rj-footer {
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 20px;
}

footer.footer #rj-footer .footer-column.not-right-column {
  margin-bottom: 50px;
}

@media (min-width: 767px) {
  footer.footer #rj-footer .footer-column.not-right-column {
    margin-bottom: 0px;
  }
}

footer.footer #rj-footer .footer-column .footer-text {
  text-align: center;
}

@media (min-width: 767px) {
  footer.footer #rj-footer .footer-column .footer-text {
    text-align: left;
  }
}

footer.footer #rj-footer h4 {
  color: #c9c9c9;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
}

footer.footer #rj-footer p {
  font-size: 14px;
  margin-bottom: 20px;
}

footer.footer #rj-footer ul.icon-list > li {
  padding-bottom: 10px;
}

footer.footer #rj-footer ul.icon-list > li > i {
  padding-right: 10px;
}

footer.footer #rj-footer ul.social-icon-list > li {
  padding-bottom: 10px;
}

footer.footer #rj-footer ul.social-icon-list > li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #c9c9c9;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

footer.footer #rj-footer ul.social-icon-list > li a:hover {
  border-color: #ffffff;
}

footer.footer #rj-footer .newsletter-form input {
  background-color: transparent;
  border-color: #888;
}

footer.footer #rj-copyright {
  background-color: #161616;
  padding: 15px 0px;
  border-top: 1px solid rgba(114, 114, 114, 0.25);
}

footer.footer #rj-copyright p {
  font-size: 13px;
  text-align: center;
  margin: 0px;
}

@media (min-width: 767px) {
  footer.footer #rj-copyright p {
    text-align: left;
  }
}